// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Pages
@import "home";
@import "product";
@import "cart";

body {
    font-family: $font-family;
    overflow-x: hidden !important;
}

.center {
    text-align: center;
}

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
}

.label-float input:focus {
    border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.label-float input:required:invalid + label {
    color: red;
}
.label-float input:focus:required:invalid {
    border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before {
    content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
    font-size: 13px;
    margin-top: 0;
    color: #3951b2;
}

#app {
    .navbar {
        &.store {
            background: $primary-color !important;
            box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05) !important;
        }
    }
}

.bg-footer {
    background: $primary-color;
    text-align: center;
    font-size: 12px;
}

.pad-cont {
    padding-top: 100px;
    padding-bottom: 100px;
}

.m-auto-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.relative {
    position: relative;
}

hr {
    &.title {
        margin: 0;
        height: 4px;
        border: 0;
        background: #008248;
        border-radius: 10px;
        margin-top: 20px;
    }
}

.pd-size {
    min-height: calc(100vh - 60px);
}

.margin-nav {
    margin-top: 100px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M3%2C18H21V16H3Zm0-5H21V11H3ZM3%2C6V8H21V6Z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.total-price {
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #ffffff;
    border-radius: 4px;
    border-left: 4px solid #008248;
    border-right: 4px solid #008248;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.prod-show {
    width: 30%;
    margin: 0 auto;
    display: block;
}

input:disabled {
    background: transparent;
}

.search-btn {
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;

    &:focus {
        outline: none;
    }
}

.search-space {
    width: 80%;
}

.search-input {
    background: transparent;
    color: #ffffff;

    &:focus {
        color: #ffffff;
        background: transparent;
    }

    &::placeholder {
        color: #ffffff;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #ffffff;
    }

    &::-ms-input-placeholder {
        color: #ffffff;
    }
}

textarea {
    border: 0 !important;
    border-bottom: 2px solid lightgrey !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}
