.swiper-container {
    .swiper-slide {
        img {
            min-height: 400px;
            height: 225px;
            width: 100%;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;

            &.first {
                background: url("https://via.placeholder.com/1080x400/FEFEFE");
            }

            &.second {
                background: url("https://via.placeholder.com/1080x400/dc4e4e");
            }

            &.third {
                background: url("https://via.placeholder.com/1080x400/179636");
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $orange-nav;
        outline: none;
    }

    .swiper-pagination-bullet-active {
        background: $orange-nav;
        height: 10px;
        width: 10px;
    }

    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
    }
}

.title-sec-prod {
    font-size: 28px;
    font-weight: 300;
}

.img-store {
    object-fit: cover;
    height: 200px;
}

span {
    &.discount {
        color: green;
        font-weight: bold;
    }

    &.discount-val {
        font-weight: 400;
        color: rgb(168, 166, 166);
        text-decoration: line-through;
        display: block;
        margin-bottom: 20px;
    }
}

b {
    text-decoration: none;
    display: block;
}

.card {
    transition: all 0.2s;

    &.prod:hover {
        transform: scale(1.05);
    }
}
