.product-img {
    padding: 30px;
}

.product-details {
    span {
        &.discount {
            color: green;
            font-weight: bold;
        }

        &.discount-val {
            font-weight: 400;
            color: rgb(168, 166, 166);
            text-decoration: line-through;
            display: block;
            margin-bottom: 20px;
        }
    }

    h5 {
        font-size: 25px;
    }

    .badge {
        color: #ffffff;
        background: $primary-color;
        padding: 10px;
    }
}

.err-space {
    position: relative;
    width: 100%;

    i {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 18px;
        font-size: 80px;
        color: #008248;
    }

    h3 {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 140px;

        b {
            color: #008248;
            text-decoration: underline;
        }
    }
}
